<%= link_to "< Back To Your League", game_competition_league_path(@team.league.leagueable.game, @team.league.leagueable, @team.league) %>

<h1>
  <%= @team.name %>
  <% if current_user == @team.user %>
    <%= link_to "(Edit)", edit_game_competition_league_team_path(@team.league.leagueable.game, @team.league.leagueable, @team.league, @team) %>
  <% end %>
</h1>

<% @team.players.each do |player| %>
  <p>
    <%= player.name %>
  </p>
<% end %>
