<td>
  <%= standing.mythic_points %>
</td>
<td>
  <%= standing.tiebreakers['rivals_mythic_points']['first_tiebreaker'] %>
</td>
<td>
  <%= standing.tiebreakers['rivals_mythic_points']['second_tiebreaker'] %>
</td>
<td>
  <%= standing.tiebreakers['rivals_mythic_points']['third_tiebreaker'] %>
</td>