<div id="draft-types-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Draft Types</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Pick X Players</h5>
        <p>
          You pick X number of players or cards for your team, independent of what players or cards the other teams in your league select. This means that multiple teams in your league can have the same player or card. There is no timed draft portion&mdash;pick your players or cards on your own schedule!
        </p>
        <h5>Snake Draft</h5>
        <p>
          You set a time for your league to draft and each team takes turns picking players or cards for their team. Players or cards can only be on one team per league.
        </p>
        <h5>Pick 'Em</h5>
        <p>
          Rather than drafting players or cards, you pick the winner of a given match. The player who picks the most winners, well, wins!
        </p>
        <h5>Bracket</h5>
        <p>
          A bracket league allows you to pick the winners of every match in a single-elimination tournament, all the way to the finals!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
