<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2>Add Stats to Players</h2>
    <%= form_tag admin_players_add_stats_path, multipart: true do %>
      <div class="form-group required">
        <%= label_tag :file, nil, class: "control-label" %>
        <%= file_field_tag :file, required: true, class: "form-control" %>
      </div>
      <%= submit_tag "Add Players", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
