<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @players.length > 0 %>
      <% @players.each do |player| %>
        <p>
          <%= player.player.name %> <%= link_to '(Edit)', edit_admin_competition_competition_player_path(@competition, player) %>
        </p>
      <% end %>
    <% else %>
      <% if current_user.admin %>
        <p>
          There are no players in this competition. Add some <%= link_to "here", new_admin_competition_competition_player_path(@competition) %>.
        </p>
      <% else %>
        <p>
          There are no players in this competition.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
