<% @competitions.each do |competition| %>
  <h2><%= competition.name %></h2>
  <p>
    <%= link_to "Create tournament!", new_game_competition_tournament_path(competition.game, competition) %>
  </p>
<% end %>
