<div class="row">
  <div class="col-md-8 offset-md-2">
    <div>
      <p>
        <%= link_to "Add New Competition", new_game_competition_path(@game), class: "btn btn-primary" %>
      </p>
    </div>
    <% @competitions.each do |competition| %>
      <h2><%= competition.name %></h2>
      <p>
        <%= link_to "Create league!", new_game_competition_league_path(competition.game, competition) %>
      </p>
    <% end %>
  </div>
</div>
