<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2><%= @competition.name %></h2>
    <p>
      Date: <%= @competition.date.localtime.strftime("%m/%d/%Y") %>
    </p>
    <p>
      Location: <%= @competition.location %>
    </p>
    <p>
      Score as of Round: <%= @competition.score_as_of_round %>
    </p>
  </div>
</div>
