<h1>Your Tournaments</h1>

<% current_user.tournaments.each do |tournament| %>
  <%= link_to "#{tournament.admin.name}'s \"#{tournament.competition.name}\" Tournament", game_competition_tournament_path(tournament.competition.game, tournament.competition, tournament) %>
<% end %>
