<div id="home">
  <div class="hero-container">
    <div class="container">
      <div class="hero-text">
        Love the <span class="tertiary-font">Pro Tour</span>? Create a Fantasy Pro Tour league and draft your favorite Pros!
      </div>
    </div>
  </div>
  <div class="gradient-divider hero-first">
  </div>
  <div class="section-container first">
    <div class="cta-container">
      <div class="cta-half left">
        <div class="cta-image-container">
          <%= image_tag "watching-the-pt.jpg" %>
        </div>
      </div>
      <div class="cta-half right">
        <div class="cta-text-container">
          Don't just watch Pro Tour Rivals of Ixalan. Invite your friends and compete in your own Fantasy Pro Tour Ixalan league.
        </div>
      </div>
    </div>
  </div>
  <div class="gradient-divider first-second">
  </div>
  <div class="section-container second">
    <div class="cta-container">
      <div class="cta-half left">
        <div class="cta-text-container">
          Don't just watch Pro Tour Rivals of Ixalan. Invite your friends and compete in your own Fantasy Pro Tour Ixalan league.
        </div>
      </div>
      <div class="cta-half right">
        <div class="cta-image-container">
          <%= image_tag "watching-the-pt.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
