<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>! It's your pick!</h1>
    <p>
      According to our draftbots, you're participating in <%= @league.admin.name %>'s <%= @competition.name %> fantasy draft, and it's your turn to make a selection!
    </p>
    <p>
      To make your pick, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using Thousand Leagues!</p>
  </body>
</html>
