<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User</h1>
    <p>
      A new user just signed up for Thousand Leagues.
    </p>
    <p>
      <%= @user.name %><br />
      <%= @user.email %>
    </p>
  </body>
</html>
