<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2>Select a Game for Your League</h2>

    <% @games.each do |game| %>
      <a href="<%= game_competitions_path(game) %>">
        <p><%= game.name %></p>
      </a>
    <% end %>
  </div>
</div>
