<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there!</h1>
    <p>
      You've been invited to join <%= @league.admin.name %>'s <%= @competition.name %> fantasy draft! To sign up for an account and accept this invitiation, click <a href="<%= url %>">here</a>, or visit the following URL:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>
      Fantasy Pro Tour is
    </p>
    <p>
      If you think you received this message by accident just ignore this invitation and accept our apologies.
    </p>
    <p>Thanks for using Fantasy Pro Tour!</p>
  </body>
</html>
