<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "leagues/info" %>
    <div id="league-user" class="confirm">
      <h3>Please Accept or Decline Your Invitiation</h3>

      <p>
        <%= link_to "Accept", game_competition_league_league_user_path(@league.leagueable.game, @league.leagueable, @league, @league_user), method: :put, class: "btn btn-success" %>
        <%= link_to "Decline", game_competition_league_league_user_path(@league.leagueable.game, @league.leagueable, @league, @league_user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </p>

    </div>
  </div>
</div>
