/*
 *= require_tree .
 *= require_self
 *= require bootstrap-sortable
 */

@import "variables";

@font-face {
    font-family: 'beleren-bold';
    src: font-url('beleren-bold.eot');
    src: font-url('beleren-bold.eot?#iefix') format('embedded-opentype'),
         font-url('beleren-bold.woff2') format('woff2'),
         font-url('beleren-bold.woff') format('woff'),
         font-url('beleren-bold.ttf') format('truetype'),
         font-url('beleren-bold.svg#Beleren-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $blue;
  body {
    font-size: 16px;
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
    background: $white;
    #content {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     background: $blue;
     color: $white;
     text-align: center;
     border-top: 1px solid $gray-100;
     .copyright-notice-container {
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       height: 20px;
       position: absolute;
       margin: auto;
      }
    }
  }
}

.tertiary-font {
  font-family: "beleren-bold", "Raleway", sans-serif;
}
