@import "variables";
@import "bootstrap";
@import "drafts";
@import "home";
@import "leagues";
@import "competitions";
@import "nav";
@import "react-table";

@font-face {
    font-family: 'marvin_visions';
    src: font-url('MarvinVisions-Bold.eot');
    src: font-url('MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'),
         font-url('MarvinVisions-Bold.woff2') format('woff2'),
         font-url('MarvinVisions-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $black;
  body {
    font-size: 16px;
    font-weight: 300;
    min-height: 100%;
    position: relative;
    padding-bottom: 495px;
    background: $white;
    #content {
      margin: 0;
      padding: 0;
      width: 100%;
      position: relative;
      .container-fluid {
        margin: 1rem 0;
      }
      .page-title {
        text-align: center;
        margin: 1rem 0;
        h1 {
          font-size: 3.5em;
          margin: 1rem 0;
        }
        .page-instructions {
          max-width: 700px;
          margin: 0 auto 1em;
        }
      }
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      // height: 60px;
      background: $black;
      color: $white;
      font-weight: 100;
      text-align: center;
      font-size: 1rem;
      // border-top: 1px solid $gray-100;
      .logo-container {
       text-align: center;
       padding-bottom: 1rem;
       .logo {
         width: 100%;
         height: auto;
       }
      }
      .copyright-notice-container {
       padding: 0 2rem 2rem;
       p {
         &:last-child {
           margin-bottom: 0;
         }
       }
      }
      .logo-and-menu-container {
       padding: 4rem 2rem;
       align-items: center;
       ul {
         margin: 0;
         list-style: none;
         text-align: center;
         padding: 0;
       }
      }
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.errors {
  color: $red;
}

.tertiary-font {
  font-family: "marvin_visions", "Roboto", sans-serif;
  letter-spacing: 2px;
}

form {
  .control-label {
    font-weight: bold;
  }
}

.table-outer-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  html {
    body {
      padding-bottom: 416px;
      footer {
        .logo-and-menu-container {
          ul {
            text-align: left;
            padding-left: 2rem;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  html {
    body {
      padding-bottom: 320px;
      footer {
       .logo-container {
         text-align: right;
         padding-bottom: 0;
         .logo {
           width: 80%;
         }
       }
       .logo-and-menu-container {
         padding: 4rem 2rem;
         align-items: center;
         ul {
           margin: 0;
           list-style: none;
           text-align: left;
         }
       }
      }
    }
  }
}

@media (min-width: 992px) {
  html {
    body {
      padding-bottom: 302px;
    }
  }
}

@media (min-width: 1200px) {
  html {
    body {
      padding-bottom: 320px;
    }
  }
}
