@import "variables";

#home {
  .hero-container {
    position: relative;
    height: 475px;
    background-image: image-url("front-page-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
      height: 100%;
    }
    .hero-text-container {
      height: 100%;
      align-items: center;
      align-content: center;
      .hero-text {
        padding-top: 42px;
        font-size: 2.1em;
        font-weight: 100;
        color: white;
        text-align: center;
        .hero-intro {
          font-weight: 300;
        }
        .hero-cta {
          font-size: 1.5rem;
        }
        &.placeholder {
          display: none;
        }
      }
    }
  }
  .section-container {
    padding: 5em 1em;
    &.first {
      text-align: center;
      padding-bottom: 0;
      .cta-container .row .cta-text-container {
        text-align: center;
        padding-bottom: 2em;
      }
    }
    &.second {
      text-align: center;
      background: linear-gradient(to bottom, $black 0%, $black 50%, $purple 50%, $purple 100%);
      color: $white;
      font-weight: 100;
      position: relative;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 10vw;
        margin-left: -16px;
      }
      .cta-container {
        padding-top: 5vw;
        .split-row {
          div.col-md {
            &:first-child {
              padding-bottom: 5rem;
            }
            &:nth-child(2) {
              padding-top: 5rem;
            }
          }
        }
      }
    }
    &.third {
      text-align: center;
      .subscribe {
        font-size: 1rem;
      }
      .form-group {
        padding-top: 2rem;
        input {
          display: inline-block;
          width: 50%;
          vertical-align: middle;
          margin-right: 1rem;
        }
        button {
          font-size: 1rem;
          padding: 0.5rem 1.1rem;
        }
      }
    }
    .cta-container {
      font-size: 0px;
      .row {
        align-items: flex-start;
        .cta-image-container {
          font-size: 16px;
          text-align: center;
          margin-bottom: 1em;
          img {
            width: 25%;
            height: auto;
          }
        }
        .cta-text-container {
          text-align: left;
          font-size: 1rem;
          &.homepage-actions {
            text-align: center;
          }
          p {
            font-size: 1.5em;
            margin: 1em 0;
            a {
              &:last-child {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }
  .section-divider {
    width: 90%;
    border-bottom: 1px solid darken($light, 5%);
    margin: 0 auto;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    font-weight: 100;
  }
}

@media (min-width: 576px) {
  #home {
    .hero-container {
      // height: 400px;
      .hero-text-container {
        .hero-text {
          font-size: 2.8em;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home {
    .hero-container {
      background-position: -100px;
      height: 500px;
      .hero-text-container {
        .hero-text {
          font-size: 2.8em;
          // text-align: right;
          color: white;
          &.placeholder {
            display: block;
          }
          .hero-cta {
            font-size: 1.7rem;
          }
        }
      }
    }
    .section-container {
      &.second {
        background: linear-gradient(to right, #191919 0%, #191919 50%, #453c77 50%, #453c77 100%);
        text-align: left;;
      }
      .cta-container {
        .row {
          .cta-text-container {
            &.homepage-actions {
              text-align: right;
            }
          }
          .cta-image-container {
            img {
              width: 35%;
            }
          }
          &.split-row {
            div.col-md {
              &:first-child {
                padding-bottom: 0;
                padding-right: 50px;
              }
              &:nth-child(2) {
                padding-top: 0;
                padding-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #home {
    .hero-container {
      background-position: center;
      height: 600px;
      .hero-text-container {
        max-width: 1240px;
        .hero-text {
          font-size: 3em;
          .hero-intro {
            font-size: 4rem;
            line-height: 5rem;
            font-weight: bold;
          }
          .hero-cta {
            p {
              &:first-child {
                padding: 1rem 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  #home {
    .hero-container {
      .hero-text-container {
        .hero-text {
          font-size: 4em;
        }
      }
    }
  }
}
