<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats! You finished your Fantasy Draft for <%= @league.leagueable.name %>!</h1>
    <p>
      Click <%= link_to "here", @url %> to view all of the teams.
    </p>
    <p>Thanks for using Thousand Leagues!</p>
  </body>
</html>
