<footer>
  <div class="container copyright-notice-container">
    Powered by Hipsters of the Coast  &copy; <%= Date.today.year %>. Magic: the Gathering and the Pro Tour are copyrights of Wizards of the Coast.
  </div>
</footer>
